.webfx-tree-item a, .webfx-tree-item a:active, .webfx-tree-item a:hover {
	margin-left: 3px;
	padding: 0px 2px 1px 2px;
}

.webfx-tree-item a {
	color: black;
	text-decoration: none;
}

.webfx-tree-item a:active
{
	background: highlight;
	color: highlighttext;
	text-decoration: none;
}
.webfx-tree-item img {
	vertical-align: middle;
	border: 0px;
}


.webfx-tree-icon {
	width: 16px;
	height: 16px;
}

a, a:visited
{
	color: #000000;
	text-decoration: none;
}
A:hover
{
	color: #ff5555;
	text-decoration: underline;
}

body
{
	border-right: #999999 1px solid;
	border-top: #999999 1px solid;
	SCROLLBAR-FACE-COLOR: #a2b4c0;
	font-size: 12px;
	margin: 0em 0px 0px;
	border-left: #999999 1px solid;
	line-height: 18px;
	border-bottom: #999999 1px solid;
	font-family: Arial,ו,Arial,Sans-serif;
	SCROLLBAR-DARKSHADOW-COLOR: #a2b4c0;
	SCROLLBAR-BASE-COLOR: #a2b4c0;
	background-color: #adbfc6;
}
	
	
